alabaster==0.7.12
amqp==5.0.6
ansible==5.2.0
ansible-compat==2.0.0
ansible-core==2.12.1
ansible-lint==6.0.0
appdirs==1.4.4
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
bandit==1.4.0
bashate==0.5.1
bcrypt==4.0.1
boto==2.45.0
bracex==2.2.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.1
commonmark==0.9.1
constantly==15.1.0
coverage==4.3.4
cryptography==3.4.8
cssselect==1.1.0
debtcollector==2.2.0
decorator==5.0.9
distlib==0.3.2
dnspython==1.16.0
doc8==0.7.0
docker==4.4.4
docker-py==1.10.6
docker-pycreds==0.4.0
docutils==0.16
dogpile.cache==1.1.3
dulwich==0.20.25
emoji==1.4.1
enrich==1.2.7
eventlet==0.31.1
extras==1.0.0
fasteners==0.16.3
filelock==3.0.12
fixtures==3.0.0
flake8==2.2.4
futurist==2.3.0
gitdb==4.0.7
GitPython==3.1.20
greenlet==1.1.1
h2==3.2.0
hacking==0.10.3
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
iso8601==0.1.16
itemadapter==0.4.0
itemloaders==1.0.4
Jinja2==3.0.1
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
keystoneauth1==4.3.1
kombu==5.1.0
linecache2==1.0.0
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.2.1
mock==2.0.0
mox3==1.1.0
msgpack==1.0.2
munch==2.5.0
netaddr==0.8.0
netifaces==0.11.0
openstackdocstheme==1.6.1
openstacksdk==0.58.0
os-api-ref==1.2.0
os-client-config==2.1.0
os-service-types==1.7.0
os-testr==0.8.0
oslo.concurrency==4.4.0
oslo.config==8.7.1
oslo.context==3.3.1
oslo.i18n==5.0.1
oslo.log==4.6.0
oslo.messaging==12.9.0
oslo.metrics==0.3.0
oslo.middleware==4.4.0
oslo.serialization==4.2.0
oslo.service==2.6.0
oslo.utils==4.2.2
oslosphinx==4.10.1
oslotest==2.13.1
osprofiler==1.5.0
packaging==20.3
parsel==1.6.0
Paste==3.5.0
PasteDeploy==2.1.1
pathspec==0.10.1
pbr==5.6.0
pep8==1.5.7
Pillow==8.3.2
platformdirs==2.2.0
priority==1.3.0
prometheus-client==0.11.0
Protego==0.1.16
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyflakes==0.8.1
Pygments==2.10.0
pymongo==3.12.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-mimeparse==1.6.0
python-subunit==1.2.0
pytz==2016.10
PyYAML==5.4.1
queuelib==1.6.2
reno==2.2.1
repoze.lru==0.7
requests==2.26.0
requestsexceptions==1.4.0
resolvelib==0.5.5
restructuredtext-lint==1.3.2
rfc3986==1.5.0
rich==12.0.0
Routes==2.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
schedule==1.1.0
Scrapy==2.5.0
scrapy-proxies==0.4
scrapy-rotating-proxies==0.6.2
service-identity==21.1.0
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==1.3.6
sphinx-rtd-theme==0.5.2
SQLAlchemy==1.4.22
statsd==3.3.0
stevedore==3.4.0
subprocess-tee==0.3.5
testrepository==0.0.20
testscenarios==0.5.0
testtools==2.2.0
traceback2==1.4.0
Twisted==21.7.0
typing==3.7.4.3
typing-extensions==3.10.0.0
unittest2==1.1.0
urllib3==1.26.6
vine==5.0.0
virtualenv==20.7.2
w3lib==1.22.0
wcmatch==8.3
WebOb==1.8.7
websocket-client==1.3.1
wrapt==1.12.1
yamllint==1.26.3
yappi==1.3.2
zope.interface==5.4.0
